// Colors
$white: #fff;
$black: #333;
$grey: #eee;
$blue: #007AFF;
$orange: #FF9500;
$red: #FF3B30;
$focus-outline-blue: #6098EE;

// Settings
$focus-border: 1px solid $focus-outline-blue;
$backgroundColor: $grey;
$box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
$border-radius: 4px;