// Colors
$white: #fff;
$black: #333;
$grey: #eee;
$blue: #007aff;
$orange: #ff9500;
$red: #ff3b30;
$focus-outline-blue: #6098ee;

// Settings
$focus-border: 1px solid $focus-outline-blue;
$backgroundColor: $grey;
$box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
$border-radius: 4px;
